<ul id="videos" class="list-none video-grid video-grid--small video-list">
{%- for i in range(0, endRange) -%}
  <li class="video">
    <a 
      href="{{ randomVideos[i].href }}" 
      title="{{ randomVideos[i].title }}"
      data-video-id="{{ randomVideos[i].id }}" 
    >
      <img 
        src="/assets/img/{{randomVideos[i].id}}.jpg" 
        alt="{{ randomVideos[i].title }}" 
        loading="lazy" />
    </a>
  </li>
{%- endfor %}
</ul>