---
title: 
permalink: /random.json
---
{# this is useless, since it's in the build, but it's a kind of cool example
of what is possible so I'm leaving it in the repository #}
{%- set transformedData = [] -%}
{%- set length = data | length -%}
{%- for i in range(1, 41) -%}
  {%- set id = range(1, length) | random -%}
  {%- set transformedItem = {
    "title": data[id].title
  } -%}
  {%- set _ = transformedData.push(transformedItem) -%}
{%- endfor -%}
{{ transformedData | json | safe | trim }}