<div class="page-footer bg-slate-950 text-slate-400 pt-6 font-medium text-lg mt-12 mb-8 mx-[2vw] 3xl:mx-auto max-w-[2000px] rounded-3xl overflow-cli bg-gradient-to-br from-sky-950 via-sky-950 via-30% to-sky-800">
  <footer class="">
    <div class="mt-4 px-12">
      <p class="mb-8 text-5xl">🐠</p>
      <p class="">Made with 
      <a href="https://11ty.dev/" class="text-blue-400 hover:text-blue-500">11ty</a>, 
      <a href="https://developers.notion.com/" class="text-blue-400 hover:text-blue-500">Notion</a>, 
      <a href="https://tailwindcss.com/" class="text-blue-400 hover:text-blue-500">Tailwind CSS</a>, <a href="https://shoelace.style/" class="text-blue-400 hover:text-blue-500">Shoelace</a>, 
      <a href="https://chartjs.org/" class="text-blue-400 hover:text-blue-500">Chart.js</a>
      and <a href="https://rsms.me/inter/" class="text-blue-400 hover:text-blue-500">Inter</a>.
      </p>
      <p>Hosted on <a href="https://netlify.com/" class="text-blue-400 hover:text-blue-500">Netlify</a>. Data is refreshed daily.</p>
      {%- if hero.author and hero.authorLink %}
        <p class="mb-6">
          <a href="{{hero.imageLink}}" class="text-blue-400 hover:text-blue-500">Hero image</a> by <a href="{{hero.authorLink}}" class="text-blue-400 hover:text-blue-500">{{hero.author}}</a>.
        {%- if hero.permission %}
          Used with permission.
        {%- endif %}
        </p>
      {%- endif %}
      <p class="mb-4">Cats on the internet are so passé.</p>
      <p class="mt-16 mb-8">&copy; <time datetime="{{ site.currentYear }}">{{ site.currentYear }}</time> · <a href="https://jandewil.de" class="text-blue-400 hover:text-blue-500">Jan De Wilde</a> · I'm <a href="mailto:hi@jandewil.de?subject=Hello" class="underline">available for projects</a>.</p>
    </div>
    <div>
      {# {% for item in site.footerNavigation %}
        <a href="{{ item.url }}" class="text-blue-400 hover:text-blue-500">{{ item.label }}</a>
        {% if not loop.last %} · {% endif %}
      {% endfor %} #}
    </div>
    {%- include "waves.njk" %}
  </footer>
</div>