<div class="table-wrapper">
  <table class="table">
    <caption class="table__caption mx-4">Dataset refreshes once daily. Showing 14 most recent entries out of  <a href="https://productive-hen-976.notion.site/44783b32996f49919b6087a276825b6f?v=d48450214b91442895eaab2016be3e35" rel="canonical" class="underline hover:text-slate-400">{{ data.length }} entries</a> total.</caption>
    <thead>
      <tr class="table__header-row">
        <th class="table__header-cell" scope="col">Date</th>
        {%- for key, value in data[0] %}
          {%- if key != 'date' %}
            <th class="table__header-cell" scope="col">{{ key | toHeading }}</th>
          {%- endif %}
        {%- endfor %}
      </tr>
    </thead>

    <tbody>
      {%- for obj in data %}
        {%- if loop.index <= 14 %}
          <tr class="{{ 'table__body-row--dark' if loop.index % 2 == 1 else 'table__body-row--light' }}">
            <th class="table__body-cell" scope="row">{{ obj.date }}</th>
            {%- for key, value in obj %}
              {%- if key != 'date' %}
                {% if value === true %}
                  {%- set printValue = '✅' %}
                {% elif value === false %}
                  {%- set printValue = '' %}
                {% else %}
                  {%- set printValue = value %}
                {% endif %}
                <td class="table__body-cell">{{ printValue }}</td>
              {%- endif %}
            {%- endfor %}
          </tr>
        {%- endif %}
      {%- endfor %}
    </tbody>
  </table>
</div>