{% macro createChart(divId, chartTitle, yTitle, dataKeys, filterCondition) %}

{# @TODO Responsiveness is not working: https://www.chartjs.org/docs/latest/configuration/responsive.html#important-note #}

  <div class="{{divId}} p-3 bg-slate-950 rounded-lg relative w-[100%]">
    <canvas id="{{divId}}"></canvas>
    <script>
      (() => {
        let data = fullData.filter(item => {{filterCondition}});
        // Limit to last 30 items
        // data = data.slice(-30);
        const labels = data.map(item => {
          const [year, month, day] = item
            .date
            .split('-')
            .map(Number);
          const date = new Date(year, month - 1, day);
          return date.toLocaleDateString('en-US', {
            month: 'short',
            day: 'numeric'
          });
        });
        const datasets = {{dataKeys | dump | safe}}.map(key => {
          return {
            label: key,
            data: data.map(item => item[key]),
            fill: true,
            tension: 0.1,
            spanGaps: true
          };
        });

        // Create the chart
        const ctx = document
          .getElementById('{{divId}}')
          .getContext('2d');
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: datasets
          },
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: '{{chartTitle | safe}}',
                color: '#ffffff',
                font: {
                  size: 20
                }
              },
              tooltip: {
                mode: 'index',
                intersect: false
              },
              hover: {
                mode: 'nearest',
                intersect: true
              },
              legend: {
                display: {{ (dataKeys.length > 1) }},
                position: 'bottom',
                labels: {
                  color: '#ffffff',
                  font: {
                    size: 16
                  }
                }
              }
            },
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date',
                  color: 'rgb(148 163 184)',
                  font: {
                    size: 16
                  }
                },
                ticks: {
                  color: '#ffffff',
                  font: {
                    size: 16
                  }
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: '{{yTitle | safe}}',
                  color: 'rgb(148 163 184)',
                  font: {
                    size: 16
                  }
                },
                min: 0,
                ticks: {
                  color: '#ffffff',
                  font: {
                    size: 16
                  }
                }
              }
            }
          }
        });
      })();
    </script>
  </div>
{% endmacro %}

{%- macro table(data) %}
  <div class="table-wrapper">
    <table class="table">
      <caption class="table__caption mx-4">Dataset refreshes once daily. Showing 14 most recent entries out of  <a href="https://productive-hen-976.notion.site/44783b32996f49919b6087a276825b6f?v=d48450214b91442895eaab2016be3e35" rel="canonical" class="underline hover:text-slate-400">{{ data.length }} entries</a> total.</caption>
      <thead>
        <tr class="table__header-row">
          <th class="table__header-cell" scope="col">Date</th>
          {%- for key, value in data[0] %}
            {%- if key != 'date' %}
              <th class="table__header-cell" scope="col">{{ key | toHeading }}</th>
            {%- endif %}
          {%- endfor %}
        </tr>
      </thead>

      <tbody>
        {%- for obj in data %}
          {%- if loop.index <= 14 %}
            <tr class="{{ 'table__body-row--dark' if loop.index % 2 == 1 else 'table__body-row--light' }}">
              <th class="table__body-cell" scope="row">{{ obj.date }}</th>
              {%- for key, value in obj %}
                {%- if key != 'date' %}
                  {% if value == true %}
                    {%- set printValue = '✅' %}
                  {% elif value == false %}
                    {%- set printValue = '' %}
                  {% else %}
                    {%- set printValue = value %}
                  {% endif %}
                  <td class="table__body-cell">{{ printValue }}</td>
                {%- endif %}
              {%- endfor %}
            </tr>
          {%- endif %}
        {%- endfor %}
      </tbody>
    </table>
  </div>
{%- endmacro %}