---
title: Default
---

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  {% block head %}
    {% include 'head.njk' %}
  {% endblock %}
  <body {% if bodyClasses %}class="{{ bodyClasses }}"{%- endif -%}>
    {% block global_nav %}
      {% include 'global-nav.njk' %}
    {% endblock %}
    <main id="main" class="{{ mainClasses }}">
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    {%- block scripts %}{%- endblock %}
  </body>
</html>