<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
  {% block head %}
    {% include 'head.njk' %}
  {% endblock %}
  {%- block scripts %}{%- endblock %}
  </head>
  <body {% if bodyClasses %}class="{{ bodyClasses }}"{%- endif -%}>
    {% block global_nav %}
      {% include 'global-nav.njk' %}
    {% endblock %}
    {%- block header %}
    
    {%- endblock %}
    <main id="main" class="{{ mainClasses }}">
      {%- block main %}{%- endblock %}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>