<!DOCTYPE html>
<html lang="en-US" dir="ltr" id="top">
  <head>
    {% block head %}
      {% include 'head.njk' %}
    {% endblock %}
  </head>
  <body {% if bodyClasses %}class="{{ bodyClasses }}"{%- endif -%}>
    {% block global_nav %}
      {% include 'global-nav.njk' %}
    {% endblock %}
    {%- block header %}{%- endblock %}
    <main id="main" class="{{ mainClasses }}">
      {%- block main %}{%- endblock %}
    </main>
    {%- block footer %}
      {% include 'footer.njk' %}
    {%- endblock %}
    <a href="#top" class="to-top-link rounded-full">Scroll <span aria-hidden>↑</span> <span class="sr-only ">to top of page.</span> </a>
  </body>
</html>