{# Combined data is only available to the template engine when it's rendering the page, not when it's rendering the layout. So my option is to either duplicate these vars in the template frontmatter layout (e.g. betta.njk, shrimp.njk), or to use nunjucks variables. Specifying them in frontmatter in this layout doesn't take effect.  #}

{%- set bodyClasses = "home bg-slate-900 text-white font-inter" %}
{%- set mainClasses = "main-grid" %}

{% extends "layouts/default.njk" %}

{# {% from 'macros/macros.njk' import createChart,
table,
calendarGrid %} #}

{%- import "macros/macros.njk" as macros %}

{%- block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // The createChart macro requires this data object.
    const fullData = {{ dataName | getData | reverse | dump | safe }};
    const dkgToPpm = dkg => dkg * 17.9;
  </script>
{%- endblock %}

{%- block header %}
  <header class="hero">
    <div class="hero__image">
      <snow-fall style="--snow-fall-size: 5px">
        <img src="{{hero.image}}" alt="{{hero.imageAlt}}">
      </snow-fall>
    </div>
    <div class="hero__content main-grid">
      <h1 class="main-grid__wide max-w-[50%] text-7xl font-black tracking-tighter text-orange-500">{{ hero.title | safe }}</h1>
      <p class="main-grid__wide max-w-[50%] text-2xl font-bold mt-8">{{ hero.subtitle }}</p>
    </div>
  </header>
{%- endblock %}

{%- block main %}
  <section class="main-grid__wide mb-12">
    <h2 class="text-2xl font-bold main-grid__wide mb-4">
      Meet the Lodgers
    </h2>
    {# bg-gradient-to-br from-sky-900/40 to-emerald-600/70 py-8 px-12 rounded-2xl border-green-300 border-8 #}
    <ul class="two-up-grid mt-12">
      {%- for inhabitant in inhabitants %}
        <li>
          <div class="flex items-center">
            <img src="{{ inhabitant.imgSrc }}" alt="{{ inhabitant.name }}" class="w-32 h-32 rounded-full mr-4">
            <div>
              <h3 class="text-xl font-bold">{{ inhabitant.name }}
                {%- if inhabitant.emoji %}
                  <span class="text-2xl ml-2">{{ inhabitant.emoji }}</span>
                {%- endif %}
              </h3>
              <p class="">
                <a href="{{ inhabitant.infoLink }}" class="hover:underline">{{ inhabitant.species }}</a>
                <p class="italic text-sm text-gray-400">{{inhabitant.binomial}}</p>
              </p>
              <p class="text-sm text-gray-400">Since {{ inhabitant.dateAdded | readableDate }}</p>
            </div>
          </div>
        </li>
      {%- endfor %}
    </ul>

    {%- if hasInhibitantsContent %}
      <div class="mt-8 text-slate-400">
        {%- block inhabitants %}{%- endblock %}
      </div>
    {%- endif %}
  </section>
  <section class="main-grid main-grid__max">
    <h2 class="text-2xl font-bold main-grid__wide">Hard Facts about Soft Water</h2>
    <div class="main-grid__max two-up-grid px-4 mx-4 py-8 my-8">

      {{ macros.createChart('nitriteCycle', 'Ammonia and Nitrites', 'ppm', ['ammonia', 'nitrites'], 'item.ammonia != null || item.nitrites != null') }}

      {{ macros.createChart('nitrates', 'Nitrates', 'ppm', ['nitrates'], 'item.nitrates != null') }}

      {{ macros.createChart('tds', 'TDS', 'ppm', ['tds'], 'item.tds != null') }}

      {{ macros.createChart('hardness', 'GH, KH & pH', 'dKG & pH', ['gh','kh','ph'], 'item.gh != null || item.kh !== null || item.ph !== null') }}

    </div>
  </section>

  <section class="main-grid__wide">
    {%- block calendars %}{%- endblock %}
  </section>

  <section class="main-grid__wide mt-24">
    <h2 class="text-2xl font-bold">Water Parameters &amp; Maintenance Log</h2>
    <div class="border border-slate-800 rounded-lg mt-4 mb-8">
      {{ macros.table(dataName | getData) }}
    </div>
  </section>

{%- endblock %}

{# @TODO 
https://freefrontend.com/css-glow-effects/
https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100
https://freefrontend.com/css-water-effects/
#}