{% extends "layouts/default.njk" %}

{% from 'macros/macros.njk' import createChart %}

{%- block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // The createChart macro requires this data object.
    const fullData = {{ data | reverse | dump | safe }};
  </script>

{%- endblock %}

{%- block header %}
  <header class="hero">
    <div class="hero__image">
      <snow-fall>
        <img src="{{hero.image}}" alt="{{hero.imageAlt}}">
      </snow-fall>
    </div>
    <div class="hero__content main-grid">
      <h1 class="main-grid__wide max-w-[50%] text-7xl font-black tracking-tighter text-orange-500">{{ hero.title | safe }}</h1>
      <p class="main-grid__wide max-w-[50%] text-2xl font-bold mt-8">{{ hero.subtitle }}</p>
    </div>
  </header>
{%- endblock %}

{%- block main %}
  <section class="main-grid__wide mb-12">
    <h2 class="text-2xl font-bold main-grid__wide mb-4">
      Meet the Lodgers
    </h2>

    <ul class="two-up-grid mt-12">
      {%- for inhabitant in inhabitants %}
        <li>
          <div class="flex items-center">
            <img src="{{ inhabitant.imgSrc }}" alt="{{ inhabitant.name }}" class="w-32 h-32 rounded-full mr-4">
            <div>
              <h3 class="text-xl font-bold">{{ inhabitant.name }}</h3>
              <p class="text-sm text-gray-400">
                <a href="{{ inhabitant.infoLink }}" class="underline">{{ inhabitant.species }}</a>
              </p>
              <p class="text-sm text-gray-400">Since {{ inhabitant.dateAdded | readableDate }}</p>
            </div>
          </div>
        </li>
      {%- endfor %}
    </ul>
    <p class=""></p>
  </section>
  <section class="main-grid main-grid__max">
    <h2 class="text-2xl font-bold main-grid__wide">Face Some Hard Facts on Soft Water</h2>
    <div class="main-grid__max two-up-grid px-4 mx-4 py-8 my-8">

      {{ createChart('nitriteCycle', 'Ammonia and Nitrites', 'ppm', ['ammonia', 'nitrites'], 'item.ammonia != null || item.nitrites != null', data) }}

      {{ createChart('nitrates', 'Nitrates', 'ppm', ['nitrates'], 'item.nitrates != null', data) }}

      {{ createChart('tds', 'TDS', 'ppm', ['tds'], 'item.tds != null', data) }}

      {{ createChart('hardness', 'GH, KH & pH', 'dKG & pH', ['gh','kh','ph'], 'item.gh != null || item.kh !== null || item.ph !== null', data) }}

    </div>
  </section>

  <section class="main-grid__wide">
    <h2 class="text-2xl font-bold">Water Parameters &amp; Maintenance Log</h2>
    <div class="border border-slate-800 rounded-lg mt-4 mb-8">
      {%- include "table.njk" %}
    </div>
  </section>

  {# <section class="main-grid__wide">
    <h2 class="text-2xl font-bold">Tasks</h2>
    <div class="mt-4 mb-8">
      {%- include "equipment.njk" %}
    </div>
    <!-- Include water changes, crushed coral added, fertilizer added days -->
  </section> #}

{%- endblock %}