{% extends "layouts/default.njk" %}
{%- import "macros/macros.njk" as macros %}

{%- block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    // The createChart macro requires this data object.
    const fullData = {{ dataName | getData | reverse | dump | safe }};
  </script>
{%- endblock %}

{%- block header %}
  <header class="hero">
    <div class="hero__image">
      <snow-fall style="--snow-fall-size: 5px">
        <img src="{{hero.image}}" alt="{{hero.imageAlt}}" width="{{hero.imageWidth}}" height="{{hero.imageHeight}}">
      </snow-fall>
    </div>
    <div class="hero__content container md:mx-auto">
      <div class="mx-4">
      <h1 class="lg:max-w-[50%] text-7xl font-black tracking-tighter {{ hero.titleColor }}">{{ hero.title | safe }}</h1>
      <p class="max-w-[75%] lg:max-w-[50%] text-2xl font-bold mt-8">{{ hero.subtitle }}</p>
      </div>
    </div>
  </header>
{%- endblock %}

{%- block main %}

  <section class="mb-12 container mx-auto">
    <h2 class="text-2xl font-bold mb-4 mx-4">Goings on</h2>
    {%- block recentData %}{%- endblock %}
  </section>

  <section class="2xl:container 2xl:mx-auto">
    <h2 class="text-2xl font-bold mb-4 mx-4 container md:mx-auto">Soft Water, Hard Facts</h2>
    <div class="grid gap-4 xl:grid-cols-2 xl:gap-8 mt-4 pb-8 mb-8 mx-4">

      {{ macros.createChart('nitriteCycle', 'Ammonia and Nitrites', 'ppm', ['ammonia', 'nitrites'], 'item.ammonia != null || item.nitrites != null') }}

      {{ macros.createChart('nitrates', 'Nitrates', 'ppm', ['nitrates'], 'item.nitrates != null') }}

      {{ macros.createChart('tds', 'TDS', 'ppm', ['tds'], 'item.tds != null') }}

      {{ macros.createChart('hardness', 'GH, KH & pH', 'dKH & pH', ['gh','kh','ph'], 'item.gh != null || item.kh !== null || item.ph !== null') }}

    </div>
  </section>

  <section class="mx-4 xl:grid xl:grid-cols-2 xl:gap-8 2xl:container 2xl:mx-auto">
    {%- block calendars %}{%- endblock %}
  </section>

  <section class="container mx-auto mt-24 px-4 md:px-0">
    <h2 class="text-2xl font-bold mb-4">
      Meet the Lodgers
    </h2>
    {# bg-gradient-to-br from-sky-900/40 to-emerald-600/70 py-8 px-12 rounded-2xl border-green-300 border-8 #}
    <ul class="mt-12 grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-8">
      {%- for inhabitant in inhabitants %}
        <li>
          <div class="flex items-center">
            <img src="{{ inhabitant.imgSrc }}" alt="{{  inhabitant.name }}" class="w-32 h-32 rounded-full mr-4">
            <div>
              <h3 class="text-xl font-bold">{{ inhabitant.name }}
                {%- if inhabitant.emoji %}
                  <span class="text-2xl ml-2">{{ inhabitant.emoji }}</span>
                {%- endif %}
              </h3>
              <p>
                <a href="{{ inhabitant.infoLink }}" class="hover:underline">{{ inhabitant.species }}</a>
              </p>
              <p class="italic text-sm text-gray-400">{{inhabitant.binomial}}</p>
              <p class="text-sm text-gray-400">Since {{ inhabitant.dateAdded | readableDate }}</p>
              {%- if inhabitant.dateDied %}
                <p class="text-sm text-gray-400">✝ {{ inhabitant.dateDied | readableDate }}</p>
              {%- endif %}
            </div>
          </div>
        </li>
      {%- endfor %}
    </ul>
    {%- if hasInhibitantsContent %}
      <div class="mt-8 text-slate-400">
        {%- block inhabitants %}{%- endblock %}
      </div>
    {%- endif %}
  </section>

  {# <section class="mt-24 container mx-auto">
    <h2 class="text-2xl font-bold">Water Parameters &amp; Maintenance Log</h2>
    <div class="border border-slate-800 rounded-lg mt-4 mb-8">
      {{ macros.table(dataName | getData) }}
    </div>
  </section> #}

{%- endblock %}

{# @TODO 
https://freefrontend.com/css-glow-effects/
https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100
https://freefrontend.com/css-water-effects/
#}