---
title: Sofie's Betta Tank
permalink: /
dataName: fishData
hero:
  image: /assets/img/betta-hero.jpg
  imageAlt: A blue betta fish swimming in a tank
  author: Navin Rai
  authorLink: https://unsplash.com/@nicque
  imageLink: https://unsplash.com/photos/green-and-red-betta-fish-EgyIbEB7n8Y
  title: "Sofie's Betta <span class=\"whitespace-nowrap\">T<span class=\"-ml-3\">ank.</span></span>"
  subtitle: A 10 gallon planted tank with a single betta fish and some friends.
# Lime, Guava, Mango, Pineapple, Coconut, Kiwi, Papaya, Cantaloupe, Remco, Tiger, Stripes
inhabitants:
  - name: Remco
    species: Veiltail Betta
    binomial: Betta splendens
    infoLink: https://en.wikipedia.org/wiki/Siamese_fighting_fish
    imgSrc: /assets/img/blue-veiltail-betta.jpg
    dateAdded: 2023-11-25
  - name: Tiger
    species: Nerite Snail
    binomial: Vittina coromandeliana
    infoLink: https://en.wikipedia.org/wiki/Neritidae
    imgSrc: /assets/img/zebra-nerite.jpeg
    dateAdded: 2023-11-25
  - name: Stripes
    species: Nerite Snail
    binomial: Vittina coromandeliana
    infoLink: https://en.wikipedia.org/wiki/Neritidae
    imgSrc: /assets/img/zebra-nerite.jpeg
    dateAdded: 2023-11-25
  - name: Pineapple
    species: Harlequin Rasbora
    binomial: Trigonostigma heteromorpha
    infoLink: https://en.wikipedia.org/wiki/Harlequin_rasbora
    imgSrc: /assets/img/harlequin-rasbora.jpg
    dateAdded: 2021-12-17
  - name: Coconut
    species: Harlequin Rasbora
    binomial: Trigonostigma heteromorpha
    infoLink: https://en.wikipedia.org/wiki/Harlequin_rasbora
    imgSrc: /assets/img/harlequin-rasbora.jpg
    dateAdded: 2021-12-17
  - name: Mango
    species: Harlequin Rasbora
    binomial: Trigonostigma heteromorpha
    infoLink: https://en.wikipedia.org/wiki/Harlequin_rasbora
    imgSrc: /assets/img/harlequin-rasbora.jpg
    dateAdded: 2021-12-17
bodyClasses: home bg-slate-900 text-white font-inter
mainClasses: main-grid
---

{% extends "layouts/tank.njk" %}


