{% extends "layouts/tank.njk" %}

{%- set hasInhibitantsNote = false %}
{%- block inhabitantsNote %}
1. Feb 03, 2024 · Ravioli and Parmezan are in quarantine tank for 2 weeks with SeaChem Paraguard to reduce risk of introducing disease in the tank.
1. Feb 11, 2024 · Quarantine tank water top up 2 litres. Measurements: pH 7.8, Ammonia 0, Nitrites 0.
{%- endblock %}