---
title: Five Gallon Tank
permalink: five-gallon/
dataName: fiveGallonData
hero:
  image: /assets/img/hero-neocaridina-davidi-red.jpeg
  imageAlt: A close up of a neocaridina shrimp
  imageWidth: 2500
  imageHeight: 2000
  imageLink: https://unsplash.com/photos/a-close-up-of-a-shrimp-on-a-plant-6D_tbcL2-98
  #author: theaquariumkeeper2
  #authorLink: https://unsplash.com/@theaquariumkeeper2
  title: "5 Gallon <span class=\"whitespace-nowrap\">T<span class=\"-ml-3\">ank.</span></span>"
  titleColor: text-emerald-400
  subtitle: A dirted, planted tank with neocaridina shrimp and a nerite snail.
inhabitants:
  - name: Orange
    emoji: 🍊
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Orange"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-pumpkin-neocaridina.jpg
    dateNew: 2023-12-17
    dateDied: 2024-01-01
  - name: Zinnia
    emoji: 🌼
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Orange"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-pumpkin-neocaridina.jpg
    dateNew: 2023-12-17
  - name: Alexandra
    emoji: 🏛️
    species: Nerite Snail
    binomial: Neritina natalensis Zebra
    infoLink: https://en.wikipedia.org/wiki/Vittina_natalensis
    imgSrc: /assets/img/lodge-zebra-nerite.jpeg
    dateNew: 2023-12-17
  - name: Dahlia
    emoji: 🌼
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Red Cherry"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-red-cherry-neocaridina.jpg
    dateNew: 2024-01-15
  - name: Tulip
    emoji: 🌷
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Red Cherry"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-red-cherry-neocaridina.jpg
    dateNew: 2024-01-15
  - name: Poppy
    emoji: 🥀
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Red Cherry"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-red-cherry-neocaridina.jpg
    dateNew: 2024-01-15
  - name: Rose
    emoji: 🌹
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Red Cherry"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-red-cherry-neocaridina.jpg
    dateNew: 2024-01-15
  - name: Cherry
    emoji: 🍒
    species: Neocaridina shrimp
    binomial: Neocaridina davidi "Red Cherry"
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/lodge-red-cherry-neocaridina.jpg
    dateNew: 2024-01-15
calendar:
  waterChange:
    parameter: 'waterChange'
    title: 'Water Change'
    emoji: '🪣'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-teal-700"
      bgHeadColor: "bg-teal-800"
      borderColor: "border-teal-900"
      borderColorDivider: "md:border-l-teal-900/25"
    tooltip:
      active: true
      unit: 'litres'
  co2:
    parameter: 'co2'
    title: 'Added API CO₂ Booster (0.5ml)'
    emoji: '⛽️'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-rose-700"
      bgHeadColor: "bg-rose-800"
      borderColor: "border-rose-900"
      borderColorDivider: "md:border-l-rose-900/25"
    tooltip:
      active: false
  fertilizer:
    parameter: 'fertilizer'
    title: 'Added API Leaf Zone (2.5ml)'
    emoji: '🍀'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-green-700"
      bgHeadColor: "bg-green-800"
      borderColor: "border-green-900"
      borderColorDivider: "md:border-l-green-900/25"
    tooltip:
      active: false
  spongeClean:
    parameter: 'cleanedFilter'
    title: 'Cleaned Sponge Filter'
    emoji: '🧽'
    theme:
      textColor: "text-slate-900"
      bgCaptionColor: "bg-yellow-500"
      bgHeadColor: "bg-yellow-600"
      borderColor: "border-yellow-900"
      borderColorDivider: "md:border-l-yellow-900/25"
    tooltip:
      active: false
  crushedCoral:
    parameter: 'crushedCoral'
    title: 'Added Crushed Coral'
    emoji: '🪸'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-fuchsia-700"
      bgHeadColor: "bg-fuchsia-800"
      borderColor: "border-fuchsia-900"
      borderColorDivider: "md:border-l-fuchsia-900/25"
    tooltip:
      active: false
  prime:
    parameter: 'prime'
    title: 'Added Seachem Prime'
    emoji: '🦺'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-red-700"
      bgHeadColor: "bg-red-800"
      borderColor: "border-red-900"
      borderColorDivider: "md:border-l-red-900/25"
    tooltip:
      active: true
      unit: 'ml'
  stability:
    parameter: 'stability'
    title: 'Added Seachem Stability (1ml)'
    emoji: '🧫'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-blue-700"
      bgHeadColor: "bg-blue-800"
      borderColor: "border-blue-900"
      borderColorDivider: "md:border-l-blue-900/25"
    tooltip:
      active: false
  bakingSoda:
    parameter: 'bakingSoda'
    title: 'Added Baking Soda'
    emoji: '🧫'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-orange-700"
      bgHeadColor: "bg-orange-800"
      borderColor: "border-orange-900"
      borderColorDivider: "md:border-l-orange-900/25"
    tooltip:
      active: false
  culture:
    parameter: 'culture'
    title: 'Added Resurrection Jar Culture (1.5ml)'
    emoji: '🪳'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-indigo-700"
      bgHeadColor: "bg-indigo-800"
      borderColor: "border-indigo-900"
      borderColorDivider: "md:border-l-indigo-900/25"
    tooltip:
      active: false
---

<!-- @TODO specify water parameters for each species in frontmatter (or some data file) and show alert when the parameters go outside of the acceptable range for that species. -->

{% extends "layouts/tank.njk" %}

{%- block recentData %}
  {{ macros.recentData(fiveGallonRecentData) }}
{%- endblock %}

{%- block calendars %}
  {{ macros.calendar(calendar.waterChange, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.prime, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.stability, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.spongeClean, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.fertilizer, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.co2, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.crushedCoral, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.bakingSoda, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.culture, fiveGallonCalendarData) }}
{%- endblock %}

{%- set hasInhibitantsContent = true %}
{%- block inhabitants %}
  Zinnia is a berried female, so hopefully we'll have some baby shrimp soon!
{%- endblock %}