---
bodyClasses: home bg-slate-900 text-white font-inter
mainClasses: main-grid
title: Sofie's shrimp tank
permalink: shrimp/
dataName: shrimpData
hero:
  image: /assets/img/neocaridina-hero.jpg
  imageAlt: A close up of a neocaridina shrimp
  title: "Sofie's Shrimp <span class=\"whitespace-nowrap\">T<span class=\"-ml-3\">ank.</span></span>"
  subtitle: A 5 gallon planted tank with neocaridina shrimp and a nerite snail.
# Lime, Guava, Mango, Pineapple, Coconut, Kiwi, Papaya, Cantaloupe, Remco, Tiger, Stripes
inhabitants:
  - name: Orange
    species: Neocaridina Shrimp
    binomial: Neocaridina davidi
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/pumpkin-neocaridina.jpg
    dateAdded: 2023-11-25
  - name: Zinnia
    species: Neocaridina Shrimp
    binomial: Neocaridina davidi
    infoLink: https://en.wikipedia.org/wiki /Neocaridina_davidi
    imgSrc: /assets/img/pumpkin-neocaridina.jpg
    dateAdded: 2023-11-25
  - name: Alexandra
    species: Nerite Snail
    binomial: Vittina coromandeliana
    infoLink: https://en.wikipedia.org/wiki/Neritidae
    imgSrc: /assets/img/zebra-nerite.jpeg
    dateAdded: 2023-11-25
---

{% extends "layouts/tank.njk" %}