---
title: Shrimp tank
permalink: shrimp/
dataName: shrimpData
hero:
  image: /assets/img/neocaridina-hero.jpg
  imageAlt: A close up of a neocaridina shrimp
  imageWidth: 2500
  imageHeight: 2000
  imageLink: https://unsplash.com/photos/a-close-up-of-a-shrimp-on-a-plant-6D_tbcL2-98
  author: theaquariumkeeper2
  authorLink: https://unsplash.com/@theaquariumkeeper2
  title: "Shrimp <span class=\"whitespace-nowrap\">T<span class=\"-ml-3\">ank.</span></span>"
  titleColor: text-orange-600
  subtitle: A 5 gallon planted tank with neocaridina shrimp and a nerite snail.
inhabitants:
  - name: Orange
    emoji: 🍊
    species: Neocaridina Shrimp
    binomial: Neocaridina davidi
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/pumpkin-neocaridina.jpg
    dateAdded: 2023-12-17
    dateDied: 2024-01-01
  - name: Zinnia
    emoji: 🌼
    species: Neocaridina Shrimp
    binomial: Neocaridina davidi
    infoLink: https://en.wikipedia.org/wiki/Neocaridina_davidi
    imgSrc: /assets/img/pumpkin-neocaridina.jpg
    dateAdded: 2023-12-17
  - name: Alexandra
    emoji: 🏛️
    species: Nerite Snail
    binomial: Neritina natalensis Zebra
    infoLink: https://en.wikipedia.org/wiki/Vittina_natalensis
    imgSrc: /assets/img/zebra-nerite.jpeg
    dateAdded: 2023-12-17
calendar:
  waterChange:
    parameter: 'waterChange'
    title: 'Water Change'
    emoji: '🪣'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-teal-700"
      bgHeadColor: "bg-teal-800"
      borderColor: "border-teal-900"
      borderColorDivider: "md:border-l-teal-900/25"
    tooltip:
      active: true
      unit: 'litres'
  co2:
    parameter: 'co2'
    title: 'Added API CO₂ Booster (0.5ml)'
    emoji: '⛽️'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-rose-700"
      bgHeadColor: "bg-rose-800"
      borderColor: "border-rose-900"
      borderColorDivider: "md:border-l-rose-900/25"
    tooltip:
      active: false
  fertilizer:
    parameter: 'fertilizer'
    title: 'Added API Leaf Zone (2.5ml)'
    emoji: '🍀'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-green-700"
      bgHeadColor: "bg-green-800"
      borderColor: "border-green-900"
      borderColorDivider: "md:border-l-green-900/25"
    tooltip:
      active: false
  spongeClean:
    parameter: 'cleanedFilter'
    title: 'Cleaned Sponge Filter'
    emoji: '🧽'
    theme:
      textColor: "text-slate-900"
      bgCaptionColor: "bg-yellow-200"
      bgHeadColor: "bg-yellow-300"
      borderColor: "border-yellow-600"
      borderColorDivider: "md:border-l-yellow-600/25"
    tooltip:
      active: false
  crushedCoral:
    parameter: 'crushedCoral'
    title: 'Added Crushed Coral'
    emoji: '🪸'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-fuchsia-700"
      bgHeadColor: "bg-fuchsia-800"
      borderColor: "border-fuchsia-900"
      borderColorDivider: "md:border-l-fuchsia-900/25"
    tooltip:
      active: false
  prime:
    parameter: 'prime'
    title: 'Added Seachem Prime'
    emoji: '🦺'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-red-700"
      bgHeadColor: "bg-red-800"
      borderColor: "border-red-900"
      borderColorDivider: "md:border-l-red-900/25"
    tooltip:
      active: true
      unit: 'ml'
  stability:
    parameter: 'stability'
    title: 'Added Seachem Stability (1ml)'
    emoji: '🧫'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-blue-700"
      bgHeadColor: "bg-blue-800"
      borderColor: "border-blue-900"
      borderColorDivider: "md:border-l-blue-900/25"
    tooltip:
      active: false
  bakingSoda:
    parameter: 'bakingSoda'
    title: 'Added Baking Soda'
    emoji: '🧫'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-amber-700"
      bgHeadColor: "bg-amber-800"
      borderColor: "border-amber-900"
      borderColorDivider: "md:border-l-amber-900/25"
    tooltip:
      active: false
  culture:
    parameter: 'culture'
    title: 'Added Resurrection Jar Culture (1.5ml)'
    emoji: '🪳'
    theme:
      textColor: "text-white"
      bgCaptionColor: "bg-lime-700"
      bgHeadColor: "bg-lime-800"
      borderColor: "border-lime-900"
      borderColorDivider: "md:border-l-lime-900/25"
    tooltip:
      active: false
---

{% extends "layouts/tank.njk" %}

{%- block recentData %}
  {{ macros.recentData(shrimpRecentData) }}
{%- endblock %}

{%- block calendars %}
  {{ macros.calendar(calendar.waterChange, shrimpCalendarData) }}
  {{ macros.calendar(calendar.prime, shrimpCalendarData) }}
  {{ macros.calendar(calendar.stability, shrimpCalendarData) }}
  {{ macros.calendar(calendar.spongeClean, shrimpCalendarData) }}
  {{ macros.calendar(calendar.fertilizer, shrimpCalendarData) }}
  {{ macros.calendar(calendar.co2, shrimpCalendarData) }}
  {{ macros.calendar(calendar.crushedCoral, shrimpCalendarData) }}
  {{ macros.calendar(calendar.bakingSoda, shrimpCalendarData) }}
  {{ macros.calendar(calendar.culture, shrimpCalendarData) }}
{%- endblock %}

{%- set hasInhibitantsContent = true %}
{%- block inhabitants %}
  Zinnia is a berried female, so hopefully we'll have some baby shrimp soon!
{%- endblock %}