{% extends "layouts/tank.njk" %}
{%- set hasInhibitantsNote = true %}
{%- block inhabitantsNote %}As of Saturday Feb 3, Ravioli and Parmezan are in quarantine tank for 2 weeks with SeaChem Paraguard to reduce risk of introducing disease in the tank.{%- endblock %}