{% extends "layouts/tank.njk" %}
{%- import "macros/macros.njk" as macros %}

{%- block recentData %}
  {%- if tenGallonRecentData %}
    {{ macros.recentData(tenGallonRecentData) }}
  {%- endif %}
{%- endblock %}  

{%- set hasInhibitantsContent = true %}
{%- block inhabitants %}
  <div class="prose prose-slate prose-lg text-slate-400">
  {%- markdown %}{%- endmarkdown %}
  </div>
{%- endblock %}

{%- block calendars %}
  {{ macros.calendar(calendar.waterChange, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.prime, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.stability, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.spongeClean, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.fertilizer, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.co2, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.crushedCoral, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.bakingSoda, tenGallonCalendarData) }}
  {{ macros.calendar(calendar.culture, tenGallonCalendarData) }}
{%- endblock %}

