<!-- @TODO specify water parameters for each species in frontmatter (or some data file) and show alert when the parameters go outside of the acceptable range for that species. -->

{% extends "layouts/tank.njk" %}

{%- block recentData %}
  {%- if twoGallonRecentData %}
    {{ super() }}
    {{ macros.recentData(twoGallonRecentData) }}
  {%- endif %}
{%- endblock %}

{%- block calendars %}
  {# {{ macros.calendar(calendar.waterChange, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.prime, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.stability, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.spongeClean, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.fertilizer, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.co2, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.crushedCoral, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.bakingSoda, fiveGallonCalendarData) }}
  {{ macros.calendar(calendar.culture, fiveGallonCalendarData) }} #}
{%- endblock %}

{%- set hasInhibitantsContent = true %}
{%- block inhabitants %}{%- endblock %}